
<div id="footer" class="footer">
    <div class="containerF">
        <div class="row">
            <div class="col-lg-12 footer-contant">
                <div class="footer-info col-lg-3">
                    <a href="#" class="left w100pt logoF"><img src="/Content/develop/images/Logo_Fsale-f.png"></a>
                    <p>
                        Công cụ tuyệt vời giúp bạn đo lường và phân tích tiềm năng và hiệu quả của Fanpage. Cho phép bạn theo dõi, so sánh và tìm hiểu tất cả thông tin tiềm năng của fanpage trên MXH facebook.
                    </p>
                </div>
                <div class="footer-listDM list1 col-lg-2 hide">
                    <h2 class="footer-txt">Danh mục</h2>
                    <ul>
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#"> Tính năng, đặc điểm</a></li>
                        <li><a href="#"> Giá cả</a></li>
                        <li><a href="#"> Tài liệu tham khảo</a></li>
                        <li><a href="#"> Việc làm</a></li>
                        <li><a href="#"> Chương trình đối tác</a></li>
                    </ul>
                </div>
                <div class="footer-listDM list2 col-lg-3 hide">
                    <h2 class="footer-txt">Chính sách - điều khoản</h2>
                    <ul>
                        <li><a href="#">Thông báo pháp lý / Liên hệ</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">Điều khoản dịch vụ</a></li>

                    </ul>

                </div>
                <div class="footer-listDM list3 col-lg-3 hide">
                    <h2 class="footer-txt">Công cụ hữu ích</h2>
                    <ul>

                        <li><a href="#">Cạnh tranh Good Luck Fairy</a></li>
                        <li><a href="#">So sánh trang fan hâm mộ</a></li>
                        <li><a href="#">Danh mục Facebook</a></li>
                    </ul>
                </div>
                <div class="footer-share col-lg-1">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <ul>
                        <li>
                            <a class="page-face" href="https://www.facebook.com/quanlybanhangFSale/"><i class="fa fa-facebook"></i> </a>
                        </li>
                        <li>
                            <a class="page-twitter" href="#"><i class="fa fa-twitter"></i> </a>
                        </li>
                        <li>
                            <a class="page-google" href="#"><i class="fa fa-google"></i></a>
                        </li>
                        <li class="likeFace w100pt left">
                            <a class="btn btn-primary btn-xs" href="https://www.facebook.com/quanlybanhangFSale/">
                                <i class="fa fa-thumbs-up"> Like</i>
                            </a>
                            @*<img src="/Content/develop/images/like12.png">*@
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyRight">copyRight 2017 by EyePlus Online</div>
</div>
