
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelViewReport();">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title"><i class="fa fa-area-chart" aria-hidden="true"></i> {{'placeholder.chart_cash_by_time' | translate}}</h4>
    <div class="form-date right margin-right-report">
        <div class="col-sm-6 datetimpickers">
            <input type="text" class="form-control" placeholder="{{'common.start_date' | translate}}" ng-change="onQueryReportChange()"
                   uib-datepicker-popup="dd/MM/yyyy" ng-model="r.StartDate" is-open="DatePopupReport.startDateReport"
                   datepicker-options="dateOptionsReportStart" close-text="{{'common.close' | translate}}"
                   clear-text="{{'common.delete' | translate}}" current-text="{{'dashboard.today' | translate}}">
            <button class="btCalender" ng-click="openDateReportPopup(0);" style="top:6px;right:20px;">
                <i class="fa fa-calendar" data-original-title="" title=""></i>
            </button>
        </div>
        <div class="col-sm-6 datetimpickers">
            <input type="text" class="form-control" readonly="" placeholder="{{'common.end_date' | translate}}" ng-change="onQueryReportChange()"
                   uib-datepicker-popup="dd/MM/yyyy" ng-model="r.EndDate" is-open="DatePopupReport.endDateReport"
                   datepicker-options="dateOptionsReportEnd" close-text="{{'common.close' | translate}}" clear-text="{{'common.delete' | translate}}"
                   current-text="{{'dashboard.today' | translate}}">
            <button class="btCalender" ng-click="openDateReportPopup(1);" style="top:6px;right:20px;">
                <i class="fa fa-calendar" data-original-title="" title=""></i>
            </button>
        </div>
    </div>
</div>
<div class="modal-body">
    <div>{{'dashboard.total_cash_in' | translate}}: {{totalcashInFull}}</div>
    <div>{{'dashboard.total_cash_out' | translate}}: {{totalcashOutFull}}</div>
    <canvas id="pie" class="chart chart-pie"
            chart-data="chartfull.data" chart-colors="chartfull.colors"
            chart-labels="chartfull.labels"
            chart-options="chartfull.options"></canvas>
</div>
<div class="modal-footer">
    <div class="note-report">
        {{'placeholder.chart_sale_from' | translate}} {{ startdate | date : "dd/MM/yyyy" }} {{'dashboard.day_to' | translate}} {{ enddate | date : "dd/MM/yyyy"  }}
    </div>
    <button type="button" class="btn btn-secondary" data-dismiss="modal"
            ng-click="cancelViewReport();">
        <span class="fa fa-ban"></span>{{'common.exit' | translate}}
    </button>

</div>

